<a href="https://colab.research.google.com/github/Vihelisa/Python_Para_Iniciantes/blob/main/Python_para_iniciantes_WHILE_LOOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = 15
while num > 0: 
  print(num)
  num = num - 1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [5]:
i = 0
lista_nomes = ['Tonny Stark']
while i < 3: 
  i = i+1 
  lista_nomes.append(input("Digite um nome:"))
  print(lista_nomes)

Digite um nome:Hulk
['Tonny Stark', 'Hulk']
Digite um nome:Thor
['Tonny Stark', 'Hulk', 'Thor']
Digite um nome:Capitão América
['Tonny Stark', 'Hulk', 'Thor', 'Capitão América']