<a href="https://colab.research.google.com/github/Vihelisa/Python_Para_Iniciantes/blob/main/Python_para_iniciantes_LISTAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#Conjunto de informações, numéricas ou strings, que estão ordenadas por uma certa ordem.

#CRIANDO UMA LISTA:
lista = [1, 2, 3, 'E lá vamos nós', 4, 5, 6, 2, 2]
print(lista)

[1, 2, 3, 'E lá vamos nós', 4, 5, 6, 2, 2]

Funções para usar com  LISTAS

In [3]:
#PARA ADD UMA INFORMAÇÃO A LISTA:
lista_nomes = ['Tonny Stark']
lista_nomes.append('HULK')
print(lista_nomes)

#Para o usuário indicar qual informação será add
lista_nomes.append(input("Digite um nome:"))
print(lista_nomes)

['Tonny Stark', 'HULK']
Digite um nome:Viuva Negra
['Tonny Stark', 'HULK', 'Viuva Negra']

In [ ]:
#Qual a posição de uma informação dentro da lista:
n1 = lista_nomes.index('Tonny Stark')
n2 = lista_nomes.index('Viuva Negra')
print(n1)
print(n2)
lista.index(6)

In [18]:
#Quantas vezes uma informação se repete dentro da lista:
lista_nomes.count('Tonny Stark')
lista.count(2)

3

In [20]:
#Remover uma variável que não intereça:
list_BBB = ['Juliette', 'Sarah', 'Gil', 'Karol Conká']
print(list_BBB)
list_BBB.remove('Karol Conká')
print('BEM MELHOR:', list_BBB)

['Juliette', 'Sarah', 'Gil', 'Karol Conká']
BEM MELHOR: ['Juliette', 'Sarah', 'Gil']

In [30]:
#Para inverter a lista, os lugares/posições que cada informação ocupava
lista.reverse()
print(lista)
list_BBB.reverse()
print(list_BBB)
lista_nomes.reverse
print(lista_nomes)

[2, 2, 6, 5, 4, 'E lá vamos nós', 3, 2, 1]
['Gil', 'Sarah', 'Juliette']
['Viuva Negra', 'HULK', 'Tonny Stark']

In [31]:
#Ordenar uma lista numerica:
list_num = [3, 0, 6, 1, 5, 3, 8, 22, 4]
print(list_num)
list_num.sort()
print(list_num)

[3, 0, 6, 1, 5, 3, 8, 22, 4]
[0, 1, 3, 3, 4, 5, 6, 8, 22]